.App {
  text-align: center;
}
body {
  background-color: #FAF9F9 ;
}
.leftPanel {
  /* min-height: 100% !important;
  height: 100%; */
  height: 100%;
  
}
input[type=checkbox]:checked {
  background-color: #9DC7C8 !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.appbar {
  background-color: #9DC7C8 !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
